body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

/* scroll bar styles */

body::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: .75rem;
}

body::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
    display: none;
}

body::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    background-color: rgba(255,162,171, .5);
    /*background-color: rgba(255, 216, 236, 1);*/
    width: .75rem;
}


/* end scroll bar styles */


header {
    height: 100vh;
    /*background-image: url('assets/fratelliGrayShadowCropped.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;*/
}

.header-background-images {
    position: fixed;
    z-index: -1;
    bottom: 3vh;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.header-picture-background {
    display: flex;
}

nav {
    padding: 2rem 3rem;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: rgba(243,243,243, 1);
    position: fixed;
    z-index: 2;
}

.menu-button {
    display: none;
}

section{
    display: flex;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    outline: none;
}

.header-h1 {
    font-size: 3.2rem;
    margin: 0;
    font-weight: 400;
    color: #333333;
    width: fit-content;
}

.header-h1-anchor {
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.header-h1-anchor:hover {
    color: #ffa2ab;
}

.light-background-h2,
.collection-header {
    font-weight: 200;
    margin: .25rem 0;
    color: #333333;
}

.light-background-h2 {
    width: fit-content;
    white-space: nowrap;
}

.light-background-h2 > span {
        display: none;
}

.collection-header {
    text-align: center;
}

.body-non-home {
    margin-top: 10rem;
}

.body-collection {
    margin-top: 14rem;
}

.div-background-white {
    background-color: rgba(255, 255, 255, 1);
    /*width: 50vw;
    height: 50vh;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;
    flex-grow: 1;
    max-width: 50%;
}

.furniture-sections {
    background-color: #fff;
}

.tuula {
    background-image: url('assets/tuulaGreenShadow.png');
    background-size: 50%;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.image-info-chair,
.image-info-loveseat,
.image-info-console,
.image-info-sectional{
    height: 50vh;
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    display: flex;
}

.image-info-commercial {
    margin: auto;
    width: 70%;
    height: 70%;
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    display: flex;
}

.furniture-description-text {
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    display: flex;
    flex-grow: 1;
}

.history-about-text,
.personalize-about-text {
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;

}

.history-about-text {
    background-color: #454545;
    color: #f3f3f3;
    max-width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 8%;
}

.full-width-text {
    max-width: 100%;
}

.personalize-about-text {
    color: #333333;
}
.image-info-chair {
    background-color: rgba(255, 216, 236, 1);
}

.image-info-loveseat,
.image-info-console,
.image-info-commercial {
    background-color: rgba(178, 221, 240, 1);
}

.image-info-sectional {
    background-color: rgba(217, 228, 235, 1);
}

.furniture-description-text {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(217, 228, 235, 1);
}

.div-background-white:hover .image-info-chair,
.div-background-white:hover .image-info-loveseat,
.div-background-white:hover .image-info-sectional,
.div-background-white:hover .image-info-console,
.furniture-description-container:hover .furniture-description-text,
.commercial-image-background:hover .image-info-commercial {
    opacity: .8;
}

.dark-background-h2,
.tag-line-text,
.tag-line-text-h1{
    font-weight: 100;
    letter-spacing: 1.25px;
}

.tag-line-text-h1 {
    font-size: 1.25rem;
}

.image-info-text {
    margin: auto;
}

.image-info-text, .furniture-description-text {
    text-decoration: underline;
}

.commercial-spaces-text {
    position: absolute;
    padding: 2.5vh 3rem;
    height: max-content;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(178, 221, 240, .8);
    text-decoration: none;
}

.furniture-description-text-a {
    margin: auto;
    padding: 10%;
}

.image-info-text-lightgrey {
    color: #f3f3f3;
    text-align: right;
    font-size: 2rem;
}

.tuulaLoveseat {
    background-image: url('assets/tuulaLoveseatShadow.png');
}

.palmsChair {
    background-image: url('assets/palmsChair.png');
}

.palmsLoveseat {
    background-image: url('assets/palmsLoveseatShadow.png');
}

.sheaConsole {
    background-image: url('assets/sheaConsoleShadow.png');
}

.sottoTable {
    background-image: url('assets/sottoTableShadow.png');
}

.aidenConsole {
    background-image: url('assets/aidenConsoleShadow.png');
}

.sheaSectional {
    background-image: url('assets/sheaSectionalShadow.png');
}

.coppiaLounge {
    background-image: url('assets/coppiaLoungeShadow.png');
}

.nicholasSectional {
    background-image: url('assets/nicholasSectionalShadow.png');
}

.palmsOttoman {
    background-image: url('assets/palmsChairOttomanGreenShadow.png');
}

.chicagoBlue {
    background-image: url('assets/chicagoChairBlueShadow.png');
}

.product-type{
    font-weight: 200;
}

.parallax {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(243,243,243, 1);
}

.parallax-image-info-p {
    font-size: 1rem;
}

.dark-furniture-text {
    border: none;
}

.parallax-image-info-p span {
    display: block;
    text-align: right;
    text-transform: lowercase;
    padding: .25rem 0;
}

.parallax-image-info {
    margin: 2rem 3rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    left: 0;
    top: 0;
}

.angelesChairPink-image {
    /*background-size: 50%;*/
    background-position: 111% center;
    background-image: url('assets/angelesChairPink.png');
}

.nicholas-image {
    background-size: 49%;
    background-position: 4% center;
    background-image: url('assets/nicholasSofaTableBack.png');
}

.tuula-image {
    background-size: 40%;
    background-position: 95% center;
    background-image: url('assets/tuulaGreenShadow.png');
}

.chicago-Blue-left-image {
    background-size: contain;
    background-position: -15% center;
    background-image: url('assets/chicagoChairBlueLeft.png');
}

.foreground-image-chicago-parent {
    display: flex;
    width: 66.666666vw;
}

.about-description-h1, .contact-description-h1 {
     display: block;
     color: #ffffff;
     font-size: 2.5rem;
     font-weight: 400;
     margin: 1rem 2rem;
     padding: .5rem;
     text-align: center;
}

.contact-description-h1 {
    color: #76afb0;
    padding: 1rem;
}

.about-description-h1 {
    width: 100%;
}

.about-description-h1-dark {
    font-size: 2.25rem;
    display: inline-block;
    margin: 0 .5rem 0 0;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.furniture-description-container {
    display: flex;
    flex-grow: 1;
    max-width: 50%;
    position: initial;
}

.commercial-products {
    flex-wrap: wrap;
    justify-content: center;
   /* max-width: 80vw; */
    margin: 0 auto 5rem;
}

.collection-cards {
    background-color: rgba(255, 255, 255, 1);
    font-style: normal;
    margin: 1vw;
    width: 18rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255, .3);
    display: none;
}

.collection-cards-links {
    display: block;
    /*border: 1px solid red;*/
}

.collection-cards-images {
    width: 100%;
    /*border: 1px solid blue;*/
}

.tear-sheet-links {
    float: right;
    font-size: .85rem;
    color: #c4c4c4;
    webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.tear-sheet-links:hover {
    color: #ffa2ab;
}

.products-detailed {
    flex-direction: row;
    margin-top: 10.25rem;
    /*background-color: #454545;*/
    /*background-color: #333;*/
}

.product-detailed-card {
    background-color: #fff;
    /*width: 50%;*/
    width: 70vw;
}

.product-detailed-card-images {
    width: 100%;
    display: block;
    margin: auto;
}

.product-detailed-card-details {
    min-width: 30rem;
    width: 30vw;
    padding: 4vw 3vw 3vw 3vw;
    background-color: #454545;
}

.product-details-header-h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 0 4vw 0;
}

.product-details-header-p {
    display: block;
    font-size: .875rem;
    letter-spacing: 1px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 1.5rem 0;
    overflow: hidden;
}

.product-details-header-span {
    float: right;
    max-width: 68%;
    text-align: right;
    margin-left: 2rem;
}

.product-detailed-card-details-share {
    float: right;
    width: 100%;
    margin: 4vh 0 0 0;
}

.product-detailed-card-details-share-social-media,
.tear-sheet-links-product-page {
    color: #ffa2ab;
    float: right;
    padding: .5rem;
    webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.product-detailed-card-details-share-social-media {
    display: block;
}

.socialMedia {
    color: #ffa2ab;
    font-size: 1rem;
    padding: .25rem;
    webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.tear-sheet-links-product-page {
    display: block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

.product-detailed-card-details-share-social-media:hover,
.tear-sheet-links-product-page:hover,
.socialMedia:hover {
    color: rgba(240,90,143, 1);
}

.product-nav {
    list-style-type: none;
    padding: unset;
    float: right;
}

.product-nav-parent-listItem {
    display: inline-block;
}

.title-list-item{
    display: none;
}

.product-nav-parent-listItem > a {
    display: block;
    padding: .5rem;
    border-bottom: 2px solid rgba(255, 216, 236, 0);
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.product-nav-parent-listItem > a:hover {
    border-bottom: 2px solid #ffa2ab;
    color: #ffa2ab;
}

/*.product-nav-parent-listItem-anchor {
    display: block;
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 2px solid rgba(255, 216, 236, 0);
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}*/

/*.product-nav-parent-listItem-anchor:hover {
    border-bottom: 2px solid #ffa2ab;
    color: #ffa2ab;
}*/

.nav-dropdown {
    padding: inherit;
    position: absolute;
    background-color: rgba(243,243,243, 1);
    display: none;
}

.header-nav-links {
    padding: .5rem 1.5rem .5rem;
    display: block;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.header-nav-links:hover {
    color: #ffa2ab;
}

.activeUl {
     border-bottom: 2px solid #ffa2ab;
     color: #ffa2ab;
}

.activeMenu {
    display: block;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.product-nav-listItem {
    list-style-type: none;
}

.card-furniture-name {
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    margin: .75rem 0;
}

.showroom-name {
     font-weight: 200;
     font-size: 1.25rem;
     font-style: normal;
}

.showroom-street,
.showroom-area,
.showroom-telephone,
.showroom-fax,
.showroom-email {
    font-weight: 100;
}

.commercial-image-background {
    height: 75vh;
    background-image: url('images/commercialHyundai.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.non-home-nav {
    position: fixed;
    top: 0;
}

.collection-nav {
    padding: 2rem 3rem 1rem;
    overflow: hidden;
}

.commercial-images {
    width: 100%;
    border: 1px solid green;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contact-section {
    flex-direction: column;
    background-color: rgba(51, 51, 51, 1);
    /*background-color: rgba(243,243,243, 1);*/
    overflow: hidden;
    padding-bottom: 5rem;
}

.contact-form-container {
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    width: 77vw;
    background-color: #fff;
    padding: 1.5rem;
}

.contact-form {
    margin: auto;
    width: 100%;
}

.contact-label {
    display: block;
    text-align:left;
}


.nav-filters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0 .25rem;
    text-decoration: none;
    list-style-type: none;
    position: fixed;
    top: 10.80rem;
}

.nav-filter-listitem {
    display: inline-block;
}

.nav-filter-links {
    padding: .5rem 1rem;
    display: block;
    color: #999;
    border-bottom: 2px solid rgba(240, 90, 143, 0);
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.cards-products-links {
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.cards-products-links:hover {
    color: #ffa2ab;
}

.nav-filter-links:hover {
    border-bottom: 2px solid #ffa2ab;
    color: #ffa2ab;
}

.nav-filter-links-active {
    border-bottom: 2px solid #ffa2ab;
    color: #ffa2ab;
}

/* Google maps styles */
.div-map {
    width: 100%;
    height: 50vh;
}

.section-map-container {
    margin-top: 10rem;
}
/* end google maps styles */


/* Contact form */
.contact-header,
.contact-label {
    font-size: 1.25rem;
}

.contact-label {
    font-weight: 300;
    color: #999999;
}

.contact-header {
    font-weight: 200;
    color: #f3f3f3;
    margin: 4rem auto;
    letter-spacing: 1px;
    text-align: center;
}

.contact-form-header1 {
    color: #999999;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 2px;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    outline: none;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    background: none;
    margin: 1rem 0;
    color: #76afb0;
}

textarea {
    height: 14rem;
    resize: none;
    border: 1px solid #e6e6e6;
}

input[type=radio] {
    display: block;
    float: left;
}

.submit-form-button {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem 2rem;
    color: #fff;
    background-color: #ffa2ab;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.submit-form-button:hover {
    background-color: rgba(240,90,143, 1);
}

input::placeholder {
    color: #e5e5e5;
}

.checkbox-container {
    padding: .5rem 1rem 1.25rem;
}

.control {
	font-size: 1rem;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #76afb0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
/* end contact form */


/* mobile adaptive sizes */
@media (max-width: 1050px) and (orientation: portrait) {
    header {
        height: 90vh;
    }

    .header-background-images {
        bottom: 30%;
    }
}

@media (max-width: 1050px) {
    .products-detailed {
        flex-direction: column;
        margin-top: 3.5rem;
    }

    .product-detailed-card-details {
        min-width: 0;
    }

    .product-detailed-card,
    .product-detailed-card-details {
        width: auto;
    }


}

@media (max-width: 900px) {

    .history-about-text {
        padding: 4rem;
    }

    .furniture-description-text-a {
        padding: 5%;
    }

    .chicagoChairBlue-image {
        background-size: 71%;
        background-position: center right;
    }

    .milo-image {
        background-size: 85%;
        background-position: left center;
    }

    .tuula-image {
        background-size: 45%;
        background-position: right center;

    }

    .product-nav-parent-listItem {
        display: block;
    }

    .product-nav-parent-listItem > a {
        padding: 1rem 1rem .5rem 1rem;
        border-bottom: none;
    }

    .product-nav-parent-listItem > a:hover {
        border-bottom: none;
    }

    .menu-button{
        display: block;
        position: fixed;
        right: 0;
        padding: .75rem 1.25rem;
        z-index: 1;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        transition: .5s ease-out;
    }

    .dots, .dots-links {
        display: block;
        width: .4rem;
        height: .4rem;
        border-radius: 50%;
        margin: .25rem;
        position: relative;
        -webkit-transition: .25s ease-out;
        -moz-transition: .25s ease-out;
        -o-transition: .25s ease-out;
        transition: .25s ease-out;
    }
    .dots {
        background-color: #ffa2ab;
    }

    .dots-links {
        float: right;
        border: 1px solid #333;
        background: none;
    }

    .dots-products-dot {
        display: block;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        margin: .25rem;
        border: 1px solid #333;
        background: none;
    }

    .activeDots {
        background-color: #ffa2ab;
        border: none;
        -webkit-transition: .25s ease-out;
        -moz-transition: .25s ease-out;
        -o-transition: .25s ease-out;
        transition: .25s ease-out;
    }

    .title-list-item {
        display: block;
    }

    .collection-header {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    nav,
    .collection-nav {
        padding: 0;
        margin: 0;
    }

    .nav-filters {
        top: 4.65rem;
    }

    .header-h1 {
        margin: .5rem 0 0 1rem;
        font-size: 2.2rem;
    }

    .light-background-h2 {
        margin: 0 1rem .5rem;
        font-size: .85rem;
    }

    .light-background-h2 > span {
        display: inline;
    }

    .collection-header {
        display: none;
    }

    .product-nav {
        position: fixed;
        left: -17em;
        height: 100%;
        margin: 0;
        padding: 0 1rem;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1;
    }

    .nav-dropdown {
        position: relative;
        padding-left: 1rem;
        background: none;
    }

    .commercial-spaces-text {
        padding: 2.5vh 1rem;
    }

    .body-non-home{
        margin-top: 5rem;
    }

    .body-collection {
        margin-top: 7.5rem;
    }

    /* google maps styles */
    .section-map-container {
        margin-top: 4.5rem;
    }

    /* end google maps styles */
}

@media (max-width: 800px) and (orientation: portrait) {

    .history-about-text {
        padding: 2rem;
    }

    .nav-filters {
        flex-wrap: wrap;
    }

    .body-collection {
        margin-top: 10.05rem;
    }
}

@media (max-width: 700px) and (orientation: portrait) {
    .angelesChairPink-image {
        background-size: 70%;
        background-attachment: unset;
        background-position: 75% 15%;
    }

    .nicholas-image {
        background-attachment: unset;
        background-position: center 20%;
        background-size: 90%;
    }

    .tuula-image {
        background-size: 60%;
        background-attachment: unset;
        background-position: center 10%;
    }
}

@media (max-height: 500px) and (orientation: landscape) {

}

@media (max-width: 700px) {
    .history-about-text {
        margin-top: 50vh;
        max-width: 100%;
        position: relative;
        padding: 10vw;
    }

    .furniture-description-container {
        position: absolute;
        width: 100%;
        height: 50%;
        max-width: 100%;
    }
}


@media (max-width: 650px) {
    .div-background-white {
        height: 40vh;
    }

    .image-info-chair,
    .image-info-loveseat,
    .image-info-console,
    .image-info-sectional {
        height: 40vh;
    }
}

@media (max-width: 500px) {
    .history-about-text {
        margin-top: 50vh;
    }

   .image-info-commercial {
       width: 85%;
       height: 85%;
   }
}

@media (min-height: 200px) {
    .product-nav {
        overflow-y: auto;
    }
}
/* end mobile adaptive sizes */