body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

header {
    height: 100vh;
    background-image: url('assets/fratelliGrayShadow.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
}

/* .parallax-commercial-image {
    height: 90vh;
}

.commercial-image-background {
    background-image: url('images/commercialHyundai.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
}
*/
.header-picture-background {
    display: flex;
}

nav {
    padding: 2rem 3rem;
    width: 100%;
    
}

section{
    display: flex;
    /*overflow-x: hidden;*/
}

a {
    text-decoration: none;
    color: #000000;
}

.header-h1 {
    font-size: 3rem;
    margin: 0;
    color: #333333;
}

.light-background-h2 {
    font-weight: 200;
    margin: .25rem 0;
    color: #333333;
}

.div-background-white {
    background-color: rgba(255, 255, 255, 1);
    width: 50vw;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;
}

.tuula {
    background-image: url('assets/tuulaGreenShadow.png');
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.image-info-chair,
.image-info-loveseat,
.image-info-console,
.image-info-sectional{
    height: 50vh;
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    display: flex;
}

.furniture-description-text {
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    /*width: 50vw;*/
    display: flex;
}

.history-about-text,
.personalize-about-text {
    /*width: 50vw;*/
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;

}
.about-row {
    /*padding: 2rem 3rem;*/
    /*width: 50vw;*/
}

.history-about-text {
    background-color: rgba(51, 51, 51, 1);
    color: #f3f3f3;
    width: 50vw;
    box-sizing: border-box;
    padding: 3em;
}

.personalize-about-text {
    color: #333333;
}
.image-info-chair {
    background-color: rgba(255, 216, 236, 1);
}

.image-info-loveseat,
.image-info-console  {
    background-color: rgba(178, 221, 240, 1);
}

.image-info-sectional {
    background-color: rgba(217, 228, 235, 1);
}

.furniture-description-text {
     background-color: rgba(217, 228, 235, 1);
}

.div-background-white:hover .image-info-chair,
.div-background-white:hover .image-info-loveseat,
.div-background-white:hover .image-info-sectional,
.div-background-white:hover .image-info-console,
.furniture-description-container:hover .furniture-description-text {
    opacity: .8;
}

.dark-background-h2,
.tag-line-text,
.tag-line-text-h1{
    font-weight: 100;
    letter-spacing: 1.25px;
}

.tag-line-text-h1 {
    font-size: 1.75rem;
}

.image-info-text, .furniture-description-text {
    margin: auto;
    text-decoration: underline;
}

.furniture-description-text-a {
    padding: 10vh;
}

.image-info-text-lightgrey {
    color: #f3f3f3;
    text-align: right;
    font-size: 2rem;
}

.tuulaLoveseat {
    background-image: url('assets/tuulaLoveseatShadow.png');
}

.palmsChair {
    background-image: url('assets/palmsChair.png');
}

.palmsLoveseat {
    background-image: url('assets/palmsLoveseatShadow.png');
}

.sheaConsole {
    background-image: url('assets/sheaConsoleShadow.png');
}

.sottoTable {
    background-image: url('assets/sottoTableShadow.png');
}

.aidenConsole {
    background-image: url('assets/aidenConsoleShadow.png');
}

.sheaSectional {
    background-image: url('assets/sheaSectionalShadow.png');
}

.coppiaLounge {
    background-image: url('assets/coppiaLoungeShadow.png');
}

.nicholasSectional {
    background-image: url('assets/nicholasSectionalShadow.png');
}

.palmsOttoman {
    background-image: url('assets/palmsChairOttomanGreenShadow.png');
}

.chicagoBlue {
    background-image: url('assets/chicagoChairBlueShadow.png');
}

.product-type{
    font-weight: 200;
}

.parallax {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax-image-background zach-efron{
   /* border: 1px solid red;
    background: rgba(255, 255, 255, .8); */
    background-image: url('images/chicagoSofaZachEfron.jpg');
}

.parallax-image-info-p {
    font-size: 1rem;
   /* border-bottom: 1px solid #e5e5e5;*/
}

.dark-furniture-text {
    border: none;
}

.parallax-image-info-p span {
    display: block;
    text-align: right;
    text-transform: lowercase;
    padding: .25rem 0;
}

.parallax-image-info-chicagoChairBlue {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25rem;
}

.parallax-image-info {
    margin: 2rem 3rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    left: 0;
    top: 0;
}

.chicagoChairBlue-image {
    background-size: contain;
    background-position: 168% center;
    background-image: url('assets/chicagoChairBlue.png');
}

.milo-image {
    background-size: contain;
    background-position: -15% center;
    background-image: url('assets/miloOrangeFlipped.png');
}

.tuula-image {
    background-size: contain;
    background-position: 128% center;
    background-image: url('assets/tuulaGreen.png');
}

.chicago-Blue-left-image {
    background-size: contain;
    background-position: -15% center;
    background-image: url('assets/chicagoChairBlueLeft.png');
}

.foreground-image-chicago-parent {
    display: flex;
    width: 66.666666vw;
  /*  border: 1px solid red; */
}

.chicago {
    /* margin: auto; */
    /*width: auto;*/
}

.about-description-h1 {
     display: block;
     width: 100%;
     color: #ffffff;
     font-size: 2.5rem;
     margin: 1rem 2rem;
     border-bottom: 1px solid rgba(255,255,255, 1);
     padding: .5rem;
     text-align: center;
}

.about-description-h1-dark {
    font-size: 2.25rem;
    display: inline-block;
    margin: 0 .5rem 0 0;
}

.furniture-description-container {
    display: flex;
    width: 50vw;
}

.location-section {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(146,194,196, 1);
}

.showroom-address {
    /*border: 1px solid red;*/
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    width: auto;

}

address {
    color: rgba(255, 255, 255, 1);
}

.product-nav {
    list-style-type: none;
    border: 1px solid blue;
    padding: unset;
}

.product-nav-listItem {
    border: 1px solid red;
}

.showroom-location {
    font-weight: 600;
    font-size: 1.5rem;
    font-style: normal;
}

.showroom-name {
     font-weight: 400;
     font-size: 1.25rem;
     font-style: normal;
}

.showroom-street,
.showroom-area,
.showroom-telephone,
.showroom-fax,
.showroom-email {
    font-weight: 100;
}